<table class="table">
  <thead class="table-head">
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Art Piece</th>
      <th scope="col">Duration</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <% bookings.each do |booking|%>
      <tr>
        <td class="table-avatar"><%= booking.user.avatar %></td>
        <td><%= booking.user.first_name %></td>
        <td><%= booking.piece.name%></td>
        <td><div><%= booking.id%>|<%= booking.start_on%></div><div><%= booking.end_on%></div></td>
        <td><%= booking.status%></td>

        <td>
          <% if booking.status == "pending" %>
            <%= link_to accept_booking_path(booking) do %>
                <button type="button" class="btn btn-success">Accept</button>
             <% end %>

             <%= link_to decline_booking_path(booking) do %>
                <button type="button" class="btn btn-danger">Decline</button>
             <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
