<div class="wrapper">
  <div class="container">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#mypieces">My pieces <span class="badge"> <%= @pieces_owned.size %></span></a></li>
      <li><a data-toggle="tab" href="#bookingmade">Bookings I made <span class="badge"> <%= @pieces_rented.size %></span></a></li>
      <li><a data-toggle="tab" href="#bookingdo">Booking I do <span class="badge"> <%= @my_pieces_reserved.size %></span></a></li>
      <li><a data-toggle="tab" href="#addpiece">Add a piece</a></li>
    </ul>

    <div class="tab-content">

      <div id="mypieces" class="tab-pane fade in active">
        <div class="card-list">
          <% @pieces_owned.each do |piece|%>
          <%= render "shared/card_list", piece: piece %>
          <% end %>
        </div>
      </div>


      <div id="bookingmade" class="tab-pane fade">
        <h2>Bookings I made</h2>
          <ul>
            <% @pieces_rented.each do |rent|%>

              <li> <%= rent.name %> </li>
            <% end %>
          </ul>
      </div>

      <div id="bookingdo" class="tab-pane fade">
        <h2>Bookings over my Art Pieces</h2>
        <%= render 'bookings', bookings: @my_pieces_reserved %>
      </div>

      <div id="addpiece" class="tab-pane fade">
        <h3>Add a piece</h3>
        <%= render 'pieces/form_piece', piece: @piece %>
      </div>

    </div>

  </div>
</div>
