<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <%= link_to root_path do  %>
    <div class="navbar-wagon-brand">
      <img src="images/logo.png" alt="logo">
    </div>
  <% end %>




  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% unless current_user.nil? %>
      <div class="notification-symbol-text">
        <% new_notification = current_user.my_pieces_reserved.where(status: "pending").count %>
          <%= link_to bookings_path do %>
            <i class="fas fa-bell" style ="color: black"></i>
          <% end %>
          <% if new_notification != 0 %>
            <span class="badge badge-light">
              <%= new_notification %>
            </span>
          <% end %>
          <span class="sr-only">unread messages</span>
          <p class="textmenu">Bookings</p>
      </div>
    <% end %>
    <!-- Profile picture with dropdown list -->
  <% if current_user.nil? %>

    <!-- Button trigger modal -->
    <div class="navbar-wagon-item navbar-wagon-link" data-toggle="modal" data-target="#logIn">
      Log In
    </div>

  <% else %>
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= image_tag("JP.jpg", alt: "Profile", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", data: {toggle: 'dropdown'} )%>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to('Profil', profile_path) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        </ul>
      </div>
    </div>
  <% end %>

  </div>


  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Host</a></li>
        <li><a href="#">Trips</a></li>
        <li><a href="#">Messagese</a></li>
      </ul>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="logInTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logInTitle">Log in</h5>
      </div>
      <div class="modal-body">
        <%= render "devise/sessions/newsession" %>
      </div>
    </div>
  </div>
</div>
