<h1>List of all Pieces on the website</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
<% @pieces.each do |piece| %>
  <div class="piece-card">
    <%= piece.name %>
    <p> <%= piece.price %> </p>
  </div>

  <% end %>
</div>

  <div class="col-xs-12 col-sm-4">
<% @pieces.each do |piece| %>
  <div class="piece-card">
    <%= piece.name %>
    <p> <%= piece.price %> </p>
  </div>
  <% end %>
</div>

  <div class="col-xs-12 col-sm-4">
<% @pieces.each do |piece| %>
  <div class="piece-card">
    <%= piece.name %>
    <p> <%= piece.price %> </p>
  </div>
  <% end %>
</div>


  </div>
</div>
